*,
*::before,
*::after{
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
}
html {
  background-color: #f2f2f2;
}
.container {
  width: 320px;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 0px 0px 0px;
}

header {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  width: 320px;
  height: 72px;
}

.logo {
  line-height: 10px;
  padding: 31px 0px 30px 8px;
  height: 11px;
}
.time-and-address {
  font-weight: normal;
  padding: 16px 0px 16px 121px;
  height: 40px;
  display: none;
}
.block-with-centered-text {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.time {
  font-size: 16px;
  line-height: 24px;
  width: 65px;
  height: inherit;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
}
.to {
  width: 14px;
  height: 19px;
  margin: 28px 9px 0px 9px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}
.address {
  width: 292px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 17px 92px 0px 0px;
}

.header-button {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 72px;
  height: 40px;
  margin-top: 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.sign-in {
  border-color: #E0E0E0;
  margin-left: 45px;
}

.register {
  background: #262626;
  margin-left: 12px;
  color: #FFFFFF;
}

.search-console {
  margin-top: 40px;
  margin-left: 8px;
}

.search-string {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 8px;
}

.straight-line {
  width: 308px;
  height: 1px;
  margin-left: 8px;
  margin-top: 15px;
  background-color: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.when-to {
  margin-left: 8px;
  margin-top: 24px;
}
.when {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #626262;
  margin-bottom: 8px;
}

.to-mobile {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #626262;
  margin-left: 53px;
  margin-right: 214px;
}

.address-for-margin {
  margin-left: 12px;
}

.asap {
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
}

.address-mobile {
  width: 227px;
  height: 40px;
  margin-left: 16px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
}

.restrainer {
  max-height: 1450px;/*approximately to fit 4 cards as requested*/
  overflow-y: hidden;
}

p {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1D1D1D;
  margin-bottom: 14px;
}
p1 {
  display: block;
  padding-top: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; /*14 16 16*/
  color: #1D1D1D;
}

p2 {
  display: block;
  margin-top: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

p3 {
  display: block;
  margin-top: 4px;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
}

.card {
  margin-bottom: 36px;
  width: 312px;
}




