*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
}

html {
  background-color: #f2f2f2;
}

.container {
  width: 320px;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width:768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1124px;
  }
}

.block-with-centered-content {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/

main {
  padding-top: 40px;
}

@media screen and (min-width:1200px) {
  main {
    background: white;
    width: 1124px;
    padding-top: 40px;
    padding-left: 73px;
  }
}

.search-console {
  margin-left: 8px;
}

.search-console img {
  margin-top: 4px;
  width: 16px;
  height: 16px;
}

@media screen and (min-width:768px) {
  .search-console img {
    margin-top: 0px;
    width: 22px;
    height: 22px;
  }
}

.search-string {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 8px;
}

@media screen and (min-width:768px) {
  .search-string {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}

.straight-line {
  width: 308px;
  height: 1px;
  margin-top: 15px;
  background-color: #757575;
  mix-blend-mode: normal;
  opacity: 0.3;
}

@media screen and (min-width:768px) {
  .straight-line {
    width: 752px;
  }
}

@media screen and (min-width:1200px) {
  .straight-line {
    width: 956px;
  }
}

.when-to {
  margin-left: 8px;
  margin-top: 24px;
}

@media screen and (min-width:768px) {
  .when-to {
    display: none;
  }
}

.when {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #626262;
  margin-bottom: 8px;
}

.to-mobile {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #626262;
  margin-left: 53px;
  margin-right: 214px;
}

.address-for-margin {
  margin-left: 12px;
}

.asap {
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
}

.address-mobile {
  width: 227px;
  height: 40px;
  margin-left: 16px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
}

p {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1D1D1D;
  margin-bottom: 14px;
  margin-left: 8px;
  margin-top: 40px;
}

@media screen and (min-width:768px) {
  p {
    margin-top: 56px;
  }
}

.row {
  max-height: 1490px;
  /*approximately to fit 4 cards as requested*/
  overflow-y: hidden;
  margin-left: 8px;
  width: 320px;
  display: flex;
  margin-left: 0px;
}

@media screen and (min-width:768px) {
  .row {
    width: 768px;
    max-height: none;
    overflow-y: visible;
  }
}

@media screen and (min-width:1200px) {
  .row {
    width: 962px;
  }
}

p1 {
  display: block;
  padding-top: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
}

p2 {
  display: block;
  margin-top: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

p3 {
  display: block;
  margin-top: 4px;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
}

.card {
  margin-bottom: 36px;
  width: 312px;
}

.card img {
  width: 308px;
  height: 246px;
}

@media screen and (min-width:768px) {
  .card {
    margin-bottom: 36px;
    width: 308px;
  }
  .card img {
    width: 368px;
    height: 256px;
  }
}

@media screen and (min-width:1200px) {
  .card {
    margin-bottom: 36px;
    width: 308px;
  }
  .card img {
    width: 308px;
    height: 256px;
  }
}