.meal-img {
  width: 102px;
  height: 102px;
}

@media screen and (min-width:768px) {
  .meal-img {
    width: 200px;
    height: 160px;
  }
}

@media screen and (min-width:1200px) {
  .meal-img {
    width: 170px;
  }
}