.footer {
  background: #262626;
  width: 320px;
  position: relative;
}

@media screen and (min-width:768px) {
  .footer {
    width: 768px;
    height: 552px;
  }
}

@media screen and (min-width:1200px) {
  .footer {
    width: 1124px;
    height: 552px;
  }
}

.footer-main {
  margin-top: 32px;
  height: 862px;
  padding-left: 8px;
}

@media screen and (min-width:768px) {
  .footer-main {
    width: 752px;
    height: 552px;
  }
}

@media screen and (min-width:1200px) {
  .footer-main {
    width: 956px;
    height: 552px;
    padding-left: 81px;
    margin-top: 0px;
  }
}

.white-logo {
  padding-top: 56px;
}

.footer-top__straight-line {
  background-color: white;
  width: 304px;
  height: 1px;
  margin-top: 40px;
  mix-blend-mode: normal;
  opacity: 0.4;
}

@media screen and (min-width:768px) {
  .footer-top__straight-line {
    width: 752px;
  }
}

@media screen and (min-width:1200px) {
  .footer-top__straight-line {
    width: 956px;
  }
}

.language-select {
  width: 173px;
  height: 40px;
  background-color: #3B3B3B;
  border-radius: 2px;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width:1200px) {
  .language-select {
    width: 227px;
  }
}

.footer-middle-container__language-select {
  margin-top: 32px;
}

.language-select__globe {
  margin-left: 16px;
  margin-top: 12px;
}

.language-select__english {
  margin-left: 16px;
  margin-top: 12px;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.language-select__arrow-down {
  margin-left: 49px;
  margin-top: 10px;
}

@media screen and (min-width:1200px) {
  .language-select__arrow-down {
    margin-left: 103px;
  }
}

.footer-middle-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  width: 308px;
}

@media screen and (min-width:768px) {
  .footer-middle-container {
    height: 220px;
    width: 752px;
  }
}

@media screen and (min-width:1200px) {
  .footer-middle-container {
    width: 870px;
  }
}

.social {
  margin-top: 32px;
  width: 104px;
  height: 59px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.social__hashtag {
  width: 10px;
  height: 19px;
  color: #49A144;
  line-height: 19px;
  font-weight: normal;
  font-size: 16px;
}

.social__ubereats {
  color: #FFFFFF;
  margin-bottom: 20px;
  line-height: 19px;
  font-weight: normal;
  font-size: 16px;
  width: 65px;
  height: 19px;
}

.social__facebook {
  margin-right: 15px;
}

.facebook {
  display: block;
}

.social__twitter {
  margin-right: 15px;
}

.twitter {
  display: block;
}

.instagram {
  display: block;
}

.footer-middle-container__ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 0px;
}

.footer-middle-container__links {
  list-style-type: none;
  padding-top: 39px;
}

.footer-middle-container__links-2 {
  list-style-type: none;
}

@media screen and (min-width:768px) {
  .footer-middle-container__links {
    padding-left: 80px;
  }
  .footer-middle-container__links-2 {
    padding-top: 39px;
    padding-left: 86px;
  }
}

@media screen and (min-width:1200px) {
  .footer-middle-container__links {
    padding-left: 97px;
  }
  .footer-middle-container__links-2 {
    padding-top: 39px;
    padding-left: 154px;
  }
}

.footer-middle-container__li {
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.downloads {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
}

.downloads__app-store {
  padding-top: 24px;
  margin-left: 31px;
}

@media screen and (min-width:768px) {
  .downloads__app-store {
    margin-left: 237px;
  }
}

@media screen and (min-width:1200px) {
  .downloads__app-store {
    margin-left: 340px;
  }
  .app-store {
    width: 120.66px;
    height: 40px
  }
}

.downloads__google-play {
  padding-top: 24px;
  margin-left: 25px;
  padding-bottom: 8px;
}

.google-play {
  width: 124px;
  height: 36px;
}

@media screen and (min-width:1200px) {
  .downloads__google-play {
    margin-left: 40px;
  }
  .google-play {
    width: 120.66px;
    height: 40px
  }
}

.downloads__straight-line {
  background-color: white;
  width: 304px;
  height: 1px;
  margin-top: 16px;
  mix-blend-mode: normal;
  opacity: 0.4;
}

@media screen and (min-width:768px) {
  .downloads__straight-line {
    width: 752px;
  }
}

@media screen and (min-width:1200px) {
  .downloads__straight-line {
    width: 956px;
  }
}

.footer-bottom__links {
  list-style-type: none;
  margin-top: 40px;
  padding-left: 0px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  width: 158px;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width:768px) {
  .footer-bottom__links {
    width: 550px;
  }
}

@media screen and (min-width:1200px) {
  .footer-bottom__links {
    width: 679px;
  }
}

.footer-bottom {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
}

.footer-bottom__links * {
  margin-bottom: 24px;
}

.footer-bottom__privacy {
  margin-right: 100px;
}

@media screen and (min-width:768px) {
  .footer-bottom__privacy {
    margin-left: 106px;
  }
}

@media screen and (min-width:1200px) {
  .footer-bottom__privacy {
    margin-left: 174px;
  }
}

.footer-bottom__terms {
  margin-bottom: 40px;
}

@media screen and (min-width:768px) {
  .footer-bottom__terms {
    margin-left: 120px;
  }
}

@media screen and (min-width:1200px) {
  .footer-bottom__terms {
    margin-left: 188px;
  }
}

.footer__button-up {
  width: 64px;
  height: 64px;
  background: #59BD5A;
  border-radius: 2px;
  padding: 19px 24px;
  position: absolute;
  right: 16px;
  bottom: 32px;
}

@media screen and (min-width:768px) {
  .footer__button-up {
    width: 80px;
    height: 80px;
    padding: 27px 32px;
    z-index: 10;
  }
}