footer {
  margin-top: 32px;
  background: #262626;
  width: 320px;
  height: 862px;
}

@media screen and (min-width:768px) {
  footer {
    width: 768px;
    height: 552px;
  }
}

@media screen and (min-width:1200px) {
  footer {
    width: 1124px;
    height: 552px;
    padding-left: 81px;
    margin-top: 0px;
  }
}

.white-logo {
  padding-top: 56px;
  margin-left: 8px;
}

.straight-line-2 {
  background-color: white;
  width: 304px;
  height: 1px;
  margin-left: 8px;
  margin-top: 40px;
  mix-blend-mode: normal;
  opacity: 0.4;
}

@media screen and (min-width:768px) {
  .straight-line-2 {
    width: 752px;
  }
}

@media screen and (min-width:1200px) {
  .straight-line-2 {
    width: 956px;
  }
}

.language {
  width: 173px;
  height: 40px;
  margin-left: 8px;
  margin-top: 32px;
  background-color: #3B3B3B;
  border-radius: 2px;
}

.globe {
  margin-left: 16px;
  margin-top: 12px;
}

.english {
  margin-left: 16px;
  margin-top: 12px;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.arrow-down {
  margin-left: 49px;
  margin-top: 10px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width:768px) {
  .footer-main {
    height: 220px;
  }
}

@media screen and (min-width:1200px) {
  .footer-main {
    width: 870px;
  }
}

.social {
  margin-top: 32px;
  margin-left: 8px;
  width: 104px;
  height: 59px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.hashtag {
  width: 10px;
  height: 19px;
  color: #49A144;
  line-height: 19px;
  font-weight: normal;
  font-size: 16px;
}

.ubereats {
  color: #FFFFFF;
  margin-bottom: 20px;
  line-height: 19px;
  font-weight: normal;
  font-size: 16px;
  width: 65px;
  height: 19px;
}

.facebook {
  margin-right: 15px;
}

.twitter {
  margin-right: 15px;
}

.footer-main ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.links {
  list-style-type: none;
  padding-top: 39px;
  padding-left: 8px;
}

.links-2 {
  list-style-type: none;
  padding-left: 8px;
}

@media screen and (min-width:768px) {
  .links-2 {
    padding-top: 39px;
  }
}

.links li, .links-2 li {
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.downloads {
  margin-top: 24px;
}

.app-store {
  margin-left: 39px;
}

@media screen and (min-width:768px) {
  .app-store {
    margin-left: 245px;
  }
}

@media screen and (min-width:1200px) {
  .app-store {
    margin-left: 340px;
  }
  .app-store img {
    width: 120.66px;
    height: 40px
  }
}

.google-play {
  margin-left: 25px;
}

.google-play img {
  width: 124px;
  height: 36px;
}

@media screen and (min-width:1200px) {
  .google-play {
    margin-left: 40px;
  }
  .google-play img {
    width: 120.66px;
    height: 40px
  }
}

.straight-line-3 {
  background-color: white;
  width: 304px;
  height: 1px;
  margin-left: 8px;
  margin-top: 16px;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.straight-line-4 {
  background-color: white;
  width: 304px;
  height: 1px;
  margin-left: 8px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 0.4;
}

@media screen and (min-width:768px) {
  .straight-line-3 {
    width: 752px;
  }
  .straight-line-4 {
    width: 752px;
  }
}

@media screen and (min-width:1200px) {
  .straight-line-3 {
    width: 956px;
  }
  .straight-line-4 {
    width: 956px;
  }
}

.bottom-links {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 8px;
  padding-left: 0px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  width: 158px;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width:768px) {
  .bottom-links {
    width: 550px;
  }
}

@media screen and (min-width:1200px) {
  .bottom-links {
    width: 679px;
  }
}

.bottom-links * {
  margin-bottom: 24px;
}

.privacy {
  margin-right: 100px;
}

@media screen and (min-width:768px) {
  .privacy {
    margin-left: 106px;
  }
}

@media screen and (min-width:1200px) {
  .privacy {
    margin-left: 174px;
  }
}

.terms {
  margin-bottom: 40px;
}

@media screen and (min-width:768px) {
  .terms {
    margin-left: 120px;
  }
}

@media screen and (min-width:1200px) {
  .terms {
    margin-left: 188px;
  }
}

.button-up {
  width: 64px;
  height: 64px;
  background: #59BD5A;
  border-radius: 2px;
  margin-top: 79px;
  margin-left: 76px;
  margin-bottom: 24px;
}

@media screen and (min-width:768px) {
  .button-up {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-left: 121px;
    z-index: 10;
  }
}

@media screen and (min-width:1200px) {
  .button-up {
    margin-top: -10px;
    margin-left: 260px;
    z-index: 10;
  }
}