.meal-card {
  width: 308px;
  height: 102px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

@media screen and (min-width:768px) {
  .meal-card {
    width: 752px;
    height: 160px;
    border: 1px solid rgba(117, 117, 117, 0.2);
  }
}

@media screen and (min-width:1200px) {
  .meal-card {
    width: 470px;
    height: 160px;
  }
}